@reference "tailwindcss";

.cover {
  @apply relative flex rounded-xl aspect-square;
}

.cover-border {
  @apply overflow-hidden shadow-md shadow-slate-500;
}

.sleeve-text {
  writing-mode: vertical-rl;
}

.cell {
  @apply pl-0 p-2 border-b border-slate-200;
}
