@tailwind base;

@font-face {
  font-family: "bauhaus";
  font-style: normal;
  font-weight: 300;
  src: url("../../public/assets/fonts/BauhausLightRegular.ttf")
    format("truetype");
}

html,
body,
#__next {
  @apply h-screen;
}

body {
  @apply bg-light-bg
  text-dark-copy
  font-inter
  antialiased;
}

@tailwind components;

@tailwind utilities;
