.main {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @apply dark:text-gray-300 text-center
}

.heading {
  font-size: 3rem;
  @apply sm:text-6xl;
  font-family: 'bauhaus';
}

.discord {
  font-family: 'bauhaus';
  @apply text-4xl underline underline-offset-2;
}